<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
	If you would like to learn more about this app and perhaps getting it set up for your farm, please feel free to shoot me an email at pdschloss{at}gmail.com.
</p>
