<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	This is my attempt to create a dynamic web-based shepherd's book that will allow me to keep track of the breeding and husbandry records for my sheep flock.
</p>
