<%= link_to gravatar_for(@shepherd, size: 50), @shepherd %>
<h1><%= link_to @shepherd.name, @shepherd  %></h1>
<span><%= pluralize(@shepherd.animals.count, "sheep") %></span>
<span>Updated <%= time_ago_in_words(@shepherd.updated_at) %> ago</span>
