<%= link_to gravatar_for(current_shepherd, size: 50), current_shepherd %>
<h1><%= current_shepherd.name %></h1>
<span><%= pluralize(current_shepherd.animals.count, "sheep") %></span>
<span>Last updated <%= time_ago_in_words(current_shepherd.updated_at) %> ago</span>
