<tr id="weight-<%= weight.id %>">
	<td id="date"><%= weight.date %></td>	<!-- date -->
	<td id="weight"><%= weight.weight %></td>	<!-- weight -->
	<td id="type"><%= weight.weight_type %></td>	<!-- type -->
</tr>
