<li id="animal-<%= animal.eartag %>" class="clearfix">

	<a href="<%= shepherd_animal_path(eartag: animal.eartag, username: animal.shepherd.username) %>">

		<div class="basic_animal_info">

			<%= render 'shared/basic_info', animal: animal %>

			<div class="update-list">
				Updated <%= time_ago_in_words(animal.updated_at) %> ago
			</div>

		</div>
	</a>

</li>
