<% unless current_shepherd?(@shepherd) %>
	<div id="follow_form">
		<% if current_shepherd.following?(@shepherd) %>
			<%= render 'shepherds/unfollow' %>
		<% else %>
			<%= render 'shepherds/follow' %>
		<% end %>
	</div>
<% end %>
