@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing:     border-box;
	-webkit-box-sizing:  border-box;
	box-sizing:          border-box;
}


/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;

	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;

	&:hover {
		color: #fff;
		text-decoration: none
	}
}



/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: $gray-light;

	a {
		color: #555;

		&:hover {
			color: #222;
		}
	}


	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/* sidebar */

aside {

	section.shepherd_info {
		margin-top: 20px;
	}

	section {
		padding: 10px 0;
		margin-top: 20px;

		&:first-child {
			border: 0;
			padding-top: 0;
		}

		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}

		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}

	}

	textarea {
		height: 100px;
		margin-bottom: 5px;
	}

	form {
		#error_explanation {
			font-size: 12px;

			.alert {
				margin: 20px 0 5px 0;
				padding: 5px 10px 5px 10px;
			}

			ul {
		    list-style: disc outside none;
		    padding-left: 1px;

				li {
			    padding-left: 1px;
		    margin-left: 15px;
				}

			}
		}
		margin-top: 10px;

		input[type=file] {
		    border: none;
		}

	}
}

span.picture {
	margin-top: 10px;
	input {
		border: 0;
	}

}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

#follow_form {
	.btn {
		width: 50%;
		margin-bottom: 10px;
	}
}


.stats {
	overflow: auto;
	margin-top: 0;
	padding: 0;

	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: gray;

		&:first-child {
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: blue;
		}
	}
	strong {
		display: block;
	}
}

.shepherd_avatars {
	overflow: auto;
	margin-top: 10px;
	.gravatar {
		margin: 1px 1px;
	}
	a {
		padding: 0;
	}
}

.shepherds.follow {
	padding: 0;
}



/* forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* Shepherds index */

.shepherds {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}


/* Animals index */

ol.animals {
	list-style: none;
	padding: 20px 0;
	margin: 0;

	li {
		margin: 0;
		padding: 20px 10px;
		border-bottom: 1px solid #e8e8e8;

		&:hover {
			background-color: $gray-medium-light;
		}

		a {
			color: black;
			text-decoration: none;
		}
	}

}

/* Animal show/edit */

.animal {

	.animal_header {
		padding: 20px 0;

	}

	.ui-tabs {

		.ui-tabs-nav {
			border-bottom-style: solid;
			border-bottom-color: $gray-medium-light;
			border-bottom-width: 1px;
			background-color: #FFF;
		}
		.ui-state-active {
			background-color: red;
			border-color: red;
		}
	}

	a {
		color: white;
		outline-color: red;
	}

	.btn.btn-primary.delete {
		margin-top: 10px;
		color: white;
		background-color: #F00;
		border-color: #F00;
		width: 100%;

		&:hover {
		background-color: #A00;
		border-color: #A00;
		}
	}
}


.basic_animal_info {
	margin: 0 0;

	img {
		width: 150px;
		text-align: center;
		float: left;
    display:inline-block;
		margin-right: 10px;
		margin-top: 5px;
	}

	.tag_img {
    background: image-url('eartag.png');
  	background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 150px 150px;

	  display: flex;
	  justify-content: center;
	  align-items: flex-end;

		height: 150px;
		margin: auto 0;
		bottom: 0px;
		text-align: center;
		font-size: 40px;
		font-weight: 900;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: auto;

		li {
			padding: 0;
			margin: 0;
			border-bottom: none;

			font-size: 1.2em;
			line-height: 1.5em;

			#label {
				font-weight: 800;
			}
		}
	}

	.update-list {
		margin: 0;
		text-align: right;
		font-style: italic;
	}

}


.weight-table {
	width: 100%;
  border: 1px solid #eee;
  border-collapse: collapse;

	th {
    background-color: black;
    color: white;
		padding: 5px 10px;
		text-align: center;
	}
	tr:nth-child(even) {
    background-color: #eee;
	}
	td {
		padding: 5px 10px;
		text-align: center;
	}

}


/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
